/* Variables */

:root {
    --primary-color: #f3ecd7;
    --secondary-color: #ccbd9c;
    --text-color: #333;
}

/* Main elements styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--primary-color);
    color: var(--text-color);

    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

header,
footer {
    padding: 1rem;
    text-align: center;
}

header a {
    position: relative;

    min-width: fit-content;
    margin: auto 1.25em;

    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
}

h1,
h2,
h3 {
    max-width: 80%;
    margin: 2rem auto;

    font-size: 3rem;
    text-align: center;
    text-wrap: balance;
}

section p {
    padding: 2rem;

    background-color: var(--secondary-color);

    font-size: 1.5rem;
    line-height: 1.3em;
}

.sub-title {
    display: block;

    margin-bottom: .75rem;

    font-size: 1.75rem;
    font-weight: 600;
}

/* Nav menu styling */

.burger input {
    display: none;
}

header nav a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 0%;
    height: 2px;

    background-color: var(--text-color);
    transition: width 0.4s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* Masonry layout */

.masonry-container {
    --gap: clamp(1rem, 5vmin, 2rem);

    width: 86%;
    margin: 2.125rem auto;

    columns: 220px;
    gap: var(--gap);

    font-size: 1.35rem;
}

.masonry-container > * {
    break-inside: avoid;
}

.masonry-container .masonry-item {
    margin-bottom: var(--gap);

    background-color: var(--secondary-color);
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 0.125);
    overflow: hidden;
}

.masonry-container img {
    display: block;
    width: 100%;

    border-radius: .5rem .5rem 0 0;
}

.masonry-container p {
    margin: 1.125rem;
    padding: 0;

    line-height: 1.1em;
}

/* Desktop aplications */

@media (min-width: 40em) {

    /* Main elements styling */

    h1 {
        font-size: 3.75rem;
    }

    h2,
    h3 {
        font-size: 2.5rem;
    }
}

/* Mobile devices */

@media (max-width: 40em) {

    /* Main elements styling */

    header {
        margin: 0;
        padding: .5rem;
    }

    /* Mobile nav menu and button styling */

    nav {
        position: fixed;
        top: 0;
        left: -100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: var(--text-color);
        transition: .25s ease-in-out;
    }

    nav a {
        width: 50%;

        padding: 1em;

        color: var(--primary-color);
        font-size: 2.125rem;
    }

    .burger {
        position: fixed;
        top: 1.1rem;
        right: .8rem;

        width: 40px;
        height: 30px;

        transform: scale(0.8);
        transform-origin: center;

        cursor: pointer;
    }

    .burger::before {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;

        width: 4rem;
        height: 4rem;

        background: transparent;
        border-radius: 50%;

        transform: translate(-50%, -50%);
        transition: background-color 0.3s ease;
    }

    .burger span {
        position: absolute;
        left: 0;

        display: block;
        width: 100%;
        height: .25rem;

        background: var(--text-color);
        border-radius: 9px;
        opacity: 1;

        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
        top: 0;
        transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
        top: 100%;
        transform: translateY(-100%);
        transform-origin: left center;
    }

    .burger input:checked ~ span:nth-of-type(1) {
        top: 0;
        left: 5px;
        transform: rotate(45deg);
    }

    .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }

    .burger input:checked ~ span:nth-of-type(3) {
        top: 28px;
        left: 5px;
        transform: rotate(-45deg);
    }

    nav:has(#burger:checked) {
        left: 0;
    }

    .burger:has(#burger:checked) span {
        background: var(--primary-color);
    }

    nav.scrolled .burger::before {
        background-color: var(--text-color);
    }

    nav.scrolled .burger span {
        background-color: var(--primary-color);
    }
}